<h1>Edit Pawn</h1>

<% form_for @pawn do |f|%>
	<%= f.error_messages %>
	<%= f.label :activate? %>
  <%= f.check_box :active %><br/><br/>
	<%= render :partial => f %>
  <br/>
	<%= f.submit "Update" %>
<% end %>